@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Robota;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("ttf");
}